google-cloud-sdk/
refined-network-320317-cdee89864c6c.json
deepfake backend/myenv/
deepfake backend/google-cloud-cli-VERSION-darwin-arm.tar
netflix-clone-ui/node_modules/
venvflask-backend/db/
flask-backend/test-data/
