.segment {
    overflow: hidden;
    margin-bottom: 1.5rem;
    position: relative;
    white-space: nowrap; /* Prevents text wrapping to the next line */
}

.title {
    color: #e5e5e5;
    font-weight: bold;
    font-size: 0.8rem;
}

.icon {
    margin-left: 0.3rem;
}

.row {
    display: flex;
    overflow-x: scroll; /* Enable horizontal scrolling with scrollbar */
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #888 transparent; /* For Firefox */
}

.row::-webkit-scrollbar {
    width: 10px; /* For Chrome, Safari, and Opera */
}

.row::-webkit-scrollbar-thumb {
    background-color: #888; /* For Chrome, Safari, and Opera */
}

.row img {
    margin-right: 0.5rem;
    border-radius: 4px;
    max-width: 250px; /* Adjust the max-width to make the images smaller */
}

.button {
    display: none;
    height: 165px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
}

.row:hover .button {
    display: block;
}

.caption {
    color: #f0f0f0; /* Light colored font */
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    border-radius: 5px;
}
